<%= form_for(@rspec) do |f| %>
  <% if @rspec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rspec.errors.count, "error") %> prohibited this rspec from being saved:</h2>

      <ul>
      <% @rspec.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
