<h1>Listing rspecs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rspecs.each do |rspec| %>
  <tr>
    <td><%= link_to 'Show', rspec %></td>
    <td><%= link_to 'Edit', edit_rspec_path(rspec) %></td>
    <td><%= link_to 'Destroy', rspec, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Rspec', new_rspec_path %>
